{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <h2>{{ user }}</h2>
    <p>Changement du statut en <span> {{ status }} </span></p>
</main>
{% endblock %}
