{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    {% if app.user %}
        <div>Bienvenue, {{ app.user.firstname }}</div>
    {% else %}
        <div>Veuillez vous connecter</div>
    {% endif %}
</main>
{% endblock %}
