{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main>
        <turbo-frame id="id_user_form">
            {{ form(form) }}
            {% include "components/_toast.html.twig" %}
        </turbo-frame>
    </main>
{% endblock %}