@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

:root {
  --green: rgb(34, 182, 108);
  --red: rgb(207, 0, 62);
  --yellow: rgb(207, 169, 0);
}

/* LAYOUT */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Sawarabi Gothic", sans-serif;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px -1px 1rem white;

  animation-name: shadow-anim;
  animation-timing-function: ease-in-out;
  animation: shadow-anim 1.5s infinite;
}

header > * {
  margin-inline: 1rem;
}

header > a {
  font-size: 2rem;
  padding-block: 1rem;
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--green);
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* foooter */

footer {
  box-shadow: 0px -1px 1rem white;
  width: 100%;
  text-align: center;

  animation-name: shadow-anim;
  animation-timing-function: ease-in-out;
  animation: shadow-anim 1.5s infinite;
}

/* GENERAL */

.success {
  color: var(--green);
}

.danger {
  color: rgb(207, 0, 62);
}

.warning {
  color: rgb(207, 169, 0);
}

turbo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  z-index: 1;
}

button:hover {
  cursor: pointer;
  padding-inline: 2rem;
  padding-block: 0.75rem;
}

input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  box-shadow: 1px 1px 1rem 0.2rem white;
  border-radius: 1rem;

  animation-name: shadow-anim;
  animation-timing-function: ease-in-out;
  animation: shadow-anim 1.5s infinite;
}

form > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > div div:last-of-type {
  margin-top: 1rem;
}

form > div div:last-of-type > button {
  border: none;
  background-color: var(--green);
  padding-inline: 1.75rem;
  padding-block: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px black;
}

form > div div:nth-last-of-type() {
  margin-top: 1rem;
}

ul {
  display: flex;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

table {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@keyframes shadow-anim {
  0% {
    box-shadow: 1px 1px 1rem 0.2rem white;
  }

  50% {
    box-shadow: 3px 3px 1rem 0.3rem white;
  }

  100% {
    box-shadow: 1px 1px 1rem 0.2rem white;
  }
}
