{% block header %}
    <header>
        <h1>C Q RIZ T</h1>
        <nav>
            <ul>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}