{% block header %}
    <header>
        <a href="/">C Q RIZ T</a>
        <nav>
            <ul>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}